{% extends 'base.html' %}
{% block content %} 


<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Hotel(Name)</th>
        <th scope="col">Address</th>
        <th scope="col">Rating</th>
        <th scope="col">Destination</th>
        <th scope="col">Facilities</th>
        
      </tr>
    </thead>
    {% for hotel in hotels %}
    <tbody>
      <tr>
        <td> {{hotel.id}} </td>
        <td>{{hotel.name}}</td>
        <td>{{hotel.address}}</td>
        <td>{{hotel.rating}}</td>
        <td>{{hotel.destination}}</td>
        <td> {% for facility in hotel.Facilities.all %}
            <div>
              {{facility.facilities}}
  
            </div>{% empty %}
            <div>No Facilites Avaliable</div>
            {% endfor %}
        
      </tr>
      
    </tbody>
    {% endfor %}
  </table>

{% endblock %}