{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container mt-4">
    <h1 class="text-center">Booking Details</h1>
    <ul class="list-group mb-4">
      <li class="list-group-item"><strong>User:</strong> {{ booking_detail.user }}</li>
      <li class="list-group-item"><strong>Hotel:</strong> {{ booking_detail.hotel }}</li>
      <li class="list-group-item"><strong>Room Number:</strong> {{ booking_detail.room }}</li>
      <li class="list-group-item"><strong>Total Price:</strong> {{ booking_detail.total_price }}</li>
      <li class="list-group-item"><strong>Booking mode:</strong> {{ booking_detail.booking_mode }}</li>
      <li class="list-group-item"><strong>Check-in Date:</strong> {{ booking_detail.check_in }}</li>
      <li class="list-group-item"><strong>Check-out Date:</strong> {{ booking_detail.check_out }}</li>
    </ul>

    {% if request.user.user_type == 'manager' %}
    
    <div class="d-flex justify-content-between">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateBookingModal">
        Update Booking
      </button>
    </div>
    <!-- Update Booking Modal -->
    <div class="modal fade" id="updateBookingModal" tabindex="-1" aria-labelledby="updateBookingModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateBookingModalLabel">Update Booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-success mt-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

   <!-- payment -->
    {% if request.user.user_type == 'manager' %}
  <h5 class="mt-4">Add Payment</h5>
  <form method="post">
    {% csrf_token %}
    {{ payment_form|crispy }}
    <button type="submit" class="btn btn-success mt-2">Confirm Payment</button>
  </form>
{% endif %}
<h5 class="mt-4">Payments:</h5>
<ul class="list-group">
  {% for payment in booking_detail.booking_payment.all %}
    <li class="list-group-item">
      <strong>payment_mode:</strong> ₹{{ payment.payment_mode }},
      <strong>payment_type:</strong> {{ payment.payment_type }},
      <strong>payment_status:</strong> {{ payment.payment_status }},
      <strong>amount:</strong> {{ payment.booking.total_price}},
    </li>
  {% empty %}
    <li class="list-group-item text-muted">No payment recorded.</li>
  {% endfor %}
</ul>
  </div>



{% endblock %}