{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


<div class="container">

  <div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Bookings</h2>

</div>


    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#booking_create">
  Create Booking
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="booking_create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit">Submit</button>
  </form>
      </div>      
    </div>
  </div>
</div> -->

   
  <div class="accordion" id="bookingAccordion">
    {% for booking in bookings %}
      <div class="card">
        <div class="card-header" id="heading{{ forloop.counter }}">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false"
                    aria-controls="collapse{{ forloop.counter }}">
              Booking for {{ booking.hotel }}
            </button>
          </h5>
        </div>

        <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}"
             data-bs-parent="#bookingAccordion">
          <div class="card-body">
            <ul class="list-unstyled">
              <li><strong>User:</strong> {{ booking.user }}</li>
              <li><strong>Hotel:</strong> {{ booking.hotel }}</li>
              <li><strong>Booking Mode:</strong> {{ booking.booking_mode }}</li>
              <li><strong>Room no.:</strong> {{ booking.room }}</li>
              <li><strong>Check-in Date:</strong> {{ booking.check_in }}</li>
              <li><strong>Check-out Date:</strong> {{ booking.check_out }}</li>
                           
                          
            
              
              <a href="{% url 'booking_detail' booking.id %}" class="btn btn-secondary">View Details</a>

              
  
  <a href="{% url 'booking_delete' pk=booking.id %}" class="btn btn-danger gap-5">Delete</a>

  


            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>



</div>


{% endblock %}